@use './variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul,ol,li,menu{
    list-style: none;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
}
.row{
    display: flex;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
